{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "@typescript-eslint",
    "react"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "webextensions": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "overrides": [
    {
      "files": ["src/**/*.test.ts"],
      "env": {
        "jest": true
      }
    }
  ],
  "globals": {
    "chrome": true
  },
  "rules": {
    "curly": [
      "warn",
      "all"
    ],
    "no-console": "warn",
    "@typescript-eslint/member-delimiter-style": "off",
    "@typescript-eslint/type-annotation-spacing": "off",
    "@typescript-eslint/ban-ts-ignore": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-explicit-any": "warn",
    "@typescript-eslint/no-namespace":"off",
    "@typescript-eslint/prefer-namespace-keyword": "off",
    "@typescript-eslint/no-empty-function": [
      "error",
      {
        "allow": [
          "functions",
          "arrowFunctions"
        ]
      }
    ]
  }
}